{{!-- <div class="support-grid"></div>

      <div class="band">
        <div class="item-2">
          <a href=#3" class="card">
            <div class="thumb" style="background-image: url(/img/gujarati-cusien.jpeg);"></div>
            <article>
              <h1>Food comprised of dall, roti, sweet and spciy twist of sabzi..</h1>
              <span>Gujarati Thali</span>
            </article>
          </a>
    </div>
    <div class="item-2">
      <a href="#" class="card">
        <div class="thumb" style="background-image: url(/img/indian-punjabicusien.jpeg);"></div>
        <article>
          <h1>Meal that you can't resist eating. Not for people on Diet!!.</h1>
          <span>Punjabi Meal Package</span>
        </article>
      </a>
</div>
        <div class="item-2">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/laddu.jpeg);"></div>
                <article>
                  <h1>Laddu can make you round but workout can help.</h1>
                  <span>Ladoo</span>
                </article>
              </a>
        </div>
              <div class="item-2">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-chickencurry.jpeg);"></div>
                <article>
                  <h1>Chicken Curry is the best non-veg you can have</h1>
                  <span>Chicken-Curry</span>
                </article>
              </a>
        </div>
        <div class="item-4">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-samosa.jpeg);"></div>
                <article>
                  <h1>Samosa is triangle. Sharp and crispy.</h1>
                  <span>Samosa</span>
                </article>
              </a>
        </div>
        <div class="item-5">
              <a href="#" class="card">
                <div class="thumb" style="background-image: url(/img/indian-package1.jpeg);"></div>
                <article>
                  <h1>Dosa is the food that is light in weight and still fun to eat</h1>
                  <span>Dosa</span>
                </article>
              </a>
        </div>
        <div class="item-6">
          <a href="#" class="card">
            <div class="thumb" style="background-image: url(/img/malpua.jpg);"></div>
            <article>
              <h1>Malpua is the Bruno M*ars of the food. Nothing can go wrong.</h1>

              <span>Marie Gardiner</span>
            </article>
          </a>
        </div>
        <div class="item-7">
          <a href="#" class="card">
            <div class="thumb" style="background-image: url(/img/indian-southpackage.jpeg);"></div>
            <article>
              <h1>South is the perfect cusine to have at dinner.</h1>
              <span> South</span>
            </article>
          </a>
        </div>
      </div>







 --}}
<section id="showcase">
  <div class="container">
    <h1>Our meal packages</h1>
  </div>
</section>
<section id="line">
  <b>
    <p>Craving for Healthy food!
      pick you package and choose you meal for a healthy life.
    </p>
  </b>
</section>
{{#if (eq user.role "clerk")}}
<a href="/add/meal/package" class="btn btn-primary">Add Meal Package</a>
{{/if}}
<section id="Boxes">
  <div class="row">
    {{#each meals}}
    <a href="/view/product/{{this._id}}">
      <div class="column">
        <br>
        <img src="data:image/{{this.mealImage.contentType}};base64,{{this.mealImage.data}}">
        <b>
          <center>{{this.name}}</center>
          
        </b>
        <br>
        category: {{this.cate}} <br>
        Meal Count: {{this.number}} <br>
        Price: {{this.price}} <br><br>
        <a href="/view_product" class="btn btn-primary">Edit Meal Package</a>
        {{#if (eq ../user.role "clerk")}}
        <a href="/edit/meal/package/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/delete/meal/package/{{this._id}}" class="btn btn-primary">Delete</a>
        {{/if}}
      </div>
    </a>
    {{/each}}
  </div>
</section>


<style>
  a {
    color: black
  }

  a:hover {
    background-color: transparent;
  }

  #showcase {
    padding: 10px;
    height: 200px;
    background: url("./images/linofeast-background.jpg") no-repeat 0 -400px;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #ffffff;
  }

  #showcase h1 {

    ;
    font-size: 55px;
    margin-bottom: 10px;
  }

  #line {
    height: 40px;
    min-width: 10px;
    font-style: italic;
    background-color: green;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;

  }

  #line p {
    padding: .5em;
    font-style: bold;
  }

  #Boxes {
    margin-top: 40px;

  }

  .column {
    text-align: center;
  }

  .column img {

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
    height: 300px;
    border-radius: 50px;
  }

  .row {
    padding: 5px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
    width: 100%;
  }
</style>