<div class="body2">
<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col 12 col-sm-6 col-md-3">

            <form method="POST" action="send" id="form-css">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" id="FirstName" name ="firstname">
                  <div class = "error">{{this.fError}}</div>
                  <br/>
                  <label>Last Name</label>
                  <input type="text" class="form-control" id="LastName" name ="lastname">
                  <br/>
                  <div class = "error">{{this.lError}}</div>
                  <label>Email address</label>
                  <input type="email" class="form-control" id="Email" name ="Email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <div class = "error">{{this.mError}}</div>
                  <label>Password</label>
                  <input type="password" class="form-control" id="Password" name ="Password">
                  <div class = "error">{{this.pError}}</div>
                  <label>User Type</label>
                  <input type="text" class="form-control" id="employee" name ="employee">
                  <div class = "error">{{this.pError}}</div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </section>
    </section>
</section>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>