<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .column{
        align-items: center;
        display: center;
    }
    h3{
        align-items: center;
    }
    
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="row">
    {{!-- <div class="column">
        <img src="data:image/{{this.mealImage.contentType}};base64,{{this.mealImage.data}}" width="200px"
            height="200px">
    </div> --}}
    <div class="column" style="margin-top: 80px;">
        <h3>     Name: {{this.name}}</h3>
        <h3>     Description: {{this.desc}}</h3>
        <h3>     Price: {{this.price}}</h3>
        <h3>     No. of Meals:{{this.number}}</h3>
        
        {{!-- <form action="/addtocart/{{meal._id}}" method="POST">
            <div class="row">
                <a class="btn" onclick="decrement()">-</a>
                <input type="number" name="quantity" id="quantity" min="1" style="margin-top:20px;width:5rem"
                    >
                
                <input type="number" name="quantity" id="quantity" min="1" style="margin-top:20px;width:5rem" value="1">

                <a class="btn" onclick="increment()">+</a>
            </div>
            <button class="btn">Add to Cart</button>
        </form> --}}
    </div>
</div>

<script>
    let quantity = document.getElementById("quantity");
    function increment() {
        quantity.stepUp(1);
    }
    function decrement() {
        quantity.stepDown(1);
    }
</script>